

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";

* {
	outline: 1px solid red;
}

.development{

	text-align: center;

	font-size: 2rem;
	margin: auto;
}

header.header{
	background-color: #aaa;
}

.logo-img{

	width: 20rem;
}

ul.mandarinart-menu{ 

	width: 100%;

	display: flex;

	justify-content: space-between;
	// justify-content: center;

	height: 100%;

	padding: 0;	

	margin: 0;

	li:hover {

		color: white;
		background-color: red;
	}

	li {
		padding: 1rem;
		list-style-type: none;
	}
}

#slick1, #slick2 {

	width: 100%;

	img {

		width: 100%;
	}

	.item{

		background-color: #fff;
	}
}

#slick3 {

	width: 100%;
}


[id*="section"]{

	h3, h4, h5{

		width: 100%;
	}
}